/* /Components/Importer/JsonFileImporter.razor.rz.scp.css */
/* /Components/Message/StatusMessage.razor.rz.scp.css */
button.close[b-y6dgjceh21] {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.close[b-y6dgjceh21] {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.alert-dismissible .close[b-y6dgjceh21] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.fade[b-y6dgjceh21] {
  transition: opacity 0.15s linear;
}

.fade.show[b-y6dgjceh21] {
  opacity: 1;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-e337cx4woh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-e337cx4woh] {
    flex: 1;
}

.sidebar[b-e337cx4woh] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #1d574d 70%);
}

.top-row[b-e337cx4woh] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-e337cx4woh]  a, .top-row[b-e337cx4woh]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-e337cx4woh]  a:hover, .top-row[b-e337cx4woh]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-e337cx4woh]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-e337cx4woh] {
        justify-content: space-between;
    }

    .top-row[b-e337cx4woh]  a, .top-row[b-e337cx4woh]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-e337cx4woh] {
        flex-direction: row;
    }

    .sidebar[b-e337cx4woh] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-e337cx4woh] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-e337cx4woh]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-e337cx4woh], article[b-e337cx4woh] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-8ug3o6ng2y] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-8ug3o6ng2y] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-8ug3o6ng2y] {
    font-size: 1.1rem;
}

.bi[b-8ug3o6ng2y] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item[b-8ug3o6ng2y] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-8ug3o6ng2y] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-8ug3o6ng2y] {
        padding-bottom: 1rem;
    }

    .nav-item[b-8ug3o6ng2y]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-8ug3o6ng2y]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-8ug3o6ng2y]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8ug3o6ng2y] {
        display: none;
    }

    .collapse[b-8ug3o6ng2y] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-8ug3o6ng2y] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
