/* /Components/Importer/JsonFileImporter.razor.rz.scp.css */
/* /Components/Message/StatusMessage.razor.rz.scp.css */
button.close[b-y21xpdip9e] {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.close[b-y21xpdip9e] {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.alert-dismissible .close[b-y21xpdip9e] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.fade[b-y21xpdip9e] {
  transition: opacity 0.15s linear;
}

.fade.show[b-y21xpdip9e] {
  opacity: 1;
}
/* /Components/Navigator/Navigator.razor.rz.scp.css */
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-lpmaf0sga2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-lpmaf0sga2] {
    flex: 1;
}

.sidebar[b-lpmaf0sga2] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #1d574d 70%);
}

.top-row[b-lpmaf0sga2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-lpmaf0sga2]  a, .top-row[b-lpmaf0sga2]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-lpmaf0sga2]  a:hover, .top-row[b-lpmaf0sga2]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-lpmaf0sga2]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-lpmaf0sga2] {
        justify-content: space-between;
    }

    .top-row[b-lpmaf0sga2]  a, .top-row[b-lpmaf0sga2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lpmaf0sga2] {
        flex-direction: row;
    }

    .sidebar[b-lpmaf0sga2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lpmaf0sga2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-lpmaf0sga2]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-lpmaf0sga2], article[b-lpmaf0sga2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.sidebar[b-crp5q4flrh] {
    background-color: var(--ocean-blue);
}

.sidebar .navbar[b-crp5q4flrh] {
    background-color: var(--dark-green);
}

.logout-btn:hover[b-crp5q4flrh] {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
}

.nav-item[b-crp5q4flrh] {
    padding: 1.5rem 1.5rem 0;
}

.nav-item:last-of-type[b-crp5q4flrh] {
    padding-bottom: 1.5rem;
}

.nav-item[b-crp5q4flrh]  .nav-link {
    display: flex;
    align-items: center;
    border-radius: var(--bs-border-radius-lg);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    gap: 0.5rem;
    width: 100%;
}

.nav-item[b-crp5q4flrh]  a.active {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.nav-item[b-crp5q4flrh]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.nav-scrollable[b-crp5q4flrh] {
    padding-bottom: 106px;
}

@media (min-width: 576px) {
    .sidebar[b-crp5q4flrh] {
        min-width: 300px;
        width: 300px;
        height: 100vh;
    }

    .collapse[b-crp5q4flrh] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-crp5q4flrh] {
        /* Allow sidebar to scroll for tall menus */
        height: 80vh;
        overflow-y: auto;
    }
}

.bottom-nav-menu[b-crp5q4flrh] {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #05A4d6;
}


/* /Pages/Translate.razor.rz.scp.css */
