<div class="row pb-1">

    <div class="btn-toolbar" role="toolbar" aria-label="Key Navigating Toolbar ">
        <div class="btn-group" role="group" aria-label="KeyNavigatingGroup">
            <button type="button" class="btn btn-primary" @onclick="GotoFirstByKey">
                <i class="bi bi-chevron-bar-left"></i>
            </button>
            <button type="button" class="btn btn-primary" @onclick="GotoPreviousByKey">
                <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-primary navigator-btn-width">key</button>
            <button type="button" class="btn btn-primary" @onclick="GotoNextByKey">
                <i class="bi bi-chevron-right"></i>
            </button>
            <button type="button" class="btn btn-primary" @onclick="GotoLastByKey">
                <i class="bi bi-chevron-bar-right"></i>
            </button>
        </div>
    </div>

</div>
<div class="row pb-1">
    <div class="btn-toolbar" role="toolbar" aria-label="Id Navigating Toolbar">
        <div class="btn-group mr-2" role="group" aria-label="IdNavigatingGroup">
            <button type="button" class="btn btn-primary" @onclick="GotoFirstById">
                <i class="bi bi-chevron-bar-left"></i>
            </button>
            <button type="button" class="btn btn-primary" @onclick="GotoPreviousById">
                <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-primary navigator-btn-width">id</button>
            <button type="button" class="btn btn-primary" @onclick="GotoNextById">
                <i class="bi bi-chevron-right"></i>
            </button>
            <button type="button" class="btn btn-primary" @onclick="GotoLastById">
                <i class="bi bi-chevron-bar-right"></i>
            </button>
        </div>
    </div>

</div>


<div class="row  pt-sm-2">
    <div class="col-6 col-xs-8 col-sm-12 col-md-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search"
                   aria-describedby="button-addon">
            <button class="btn btn-secondary" type="button" id="button-addon">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <div class="col-6 col-xs-4 col-sm-12 col-md-9" >
        <div class="btn-toolbar" role="toolbar" aria-label="CopyDeleteAddNewToolbar">
            <div class="btn-group" role="group" aria-label="CopyDeleteAddNewGroup">
                <div class="d-none d-sm-block">
                    <button type="button" class="btn btn-primary" @onclick="CopyLanguageEntry">
                        <i class="bi bi-copy"></i> Copy
                    </button>
                    <button type="button" class="btn btn-primary" @onclick="DeleteLanguageEntry">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                    <button type="button" class="btn btn-primary" @onclick="AddNewLanguageEntry">
                        <i class="bi bi-plus-circle"></i> Add New
                    </button>
                </div>
                <div class="d-block d-sm-none">
                    <button type="button" class="btn btn-primary" @onclick="CopyLanguageEntry">
                        <i class="bi bi-copy"></i>
                    </button>
                    <button type="button" class="btn btn-primary" @onclick="DeleteLanguageEntry">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button type="button" class="btn btn-primary" @onclick="AddNewLanguageEntry">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>


@if (LanguageEntry != null)
{
<div class="row g-1 pt-4">
    <div class="col-2">
        <Label class="form-control text-center dark-white-label" disabled="disabled">id</Label>
    </div>
    <div class="col-10">
        <input class="form-control" disabled="disabled" value="@LanguageEntry.Id"/>
    </div>
</div>
<div class="row pt-1 pb-2 g-1">
    <div class="col-2">
        <Label class="form-control text-center dark-white-label" disabled="disabled">key</Label>
    </div>
    <div class="col-10">
        <input class="form-control key-input" value="@LanguageEntry.Key"/>
    </div>
</div>
}