@inject IJSRuntime JsRuntime
@implements IAsyncDisposable
@inherits JsonFileImporterBase

<div @ref="DropZoneElement" class="drag-drop-zone w-100 border rounded p-5 mb-3 d-flex align-items-center justify-content-center fs-2">
    <label for="idFilePicker">
        <InputFile id="idFilePicker" OnChange="@((InputFileChangeEventArgs e) => FileChangeAsync(e))" @ref="InputFile" hidden/>
        @Status
    </label>
</div>

@if (ImportMessage != null)
{
    <StatusMessage Message="@ImportMessage"></StatusMessage>
}

@if (ShowSpinner)
{
    <div class="spinner"></div>
}