@page "/Translate"
@using LanguageFileTranslatorApp.Models.ValueObjects

<PageTitle>translate</PageTitle>

<h1>translate</h1>

<hr>

<Navigator OnLanguageEntryChanged="LanguageEntryChanged"></Navigator>

