@page "/Translate"
@using LanguageFileTranslatorApp.Models.ValueObjects

<PageTitle>translate</PageTitle>

<h1>translate</h1>

<hr>

<Navigator OnLanguageEntryChanged="LanguageEntryChanged"></Navigator>

<hr>

@foreach (var item in LanguageEntryItems)
{
    <input type="text" value="@item.Value">
}

