@page "/"

@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>Import Json File</h1>


 <span>SecurityKey: @SecurityKey</span>


<hr>

<JsonFileImporter/>

@code
{

    protected override Task OnInitializedAsync()
    {
        SecurityKey = Configuration["AzureTranslatorApiKey"];
        
        return base.OnInitializedAsync();
    }

    public string? SecurityKey { get; set; }
}
