@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>Import Json File</h1>


 <span>SecurityKey: @SecurityKey</span>


<hr>



@code
{

    protected override async Task OnInitializedAsync()
    {
        SecurityKey = Configuration["AzureTranslatorApiKey"];
        
        await localStorage.SetItemAsync("name", "John Smith");
        var name = await localStorage.GetItemAsync<string>("name");
    }

    public string? SecurityKey { get; set; }
}
