@inherits LayoutComponentBase
<div class="page">
    <div>
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 d-none d-sm-block">
            <a href="https://github.com/bartvanhoey" target="_blank" class="float-end pt-3 text-white">about me</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>